aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.3.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==45.0.7
dnspython==2.8.0
frozenlist==1.7.0
http_ece==1.2.1
idna==3.10
multidict==6.6.4
propcache==0.3.2
py-vapid==1.9.2
pycparser==2.23
pydantic==2.11.9
pydantic_core==2.33.2
pyee==13.0.0
pymongo==4.15.0
python-ffmpeg==2.0.12
pywebpush==2.0.3
requests==2.32.5
six==1.17.0
typing-inspection==0.4.1
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
