.outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    padding: 0.25rem;
    background-color: hsl(120, 25%, 98%);
    border: 0.25rem solid white;
}

.header {
    padding: 0.25rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    overflow-y: scroll;
}

.data-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-color: hsl(120, 25%, 94%);
    overflow-y: scroll;
    margin: 0rem 0.25rem;
    padding: 0.25rem;
}

.container-border {
    border: 0.075rem;
    border-style: solid;
    border-color: silver;
    border-radius: 0.5rem;
}

.data-header {
    padding: 0.25rem;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
    padding: 0.25rem;
}

.data-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.data-key {
    width: 100%;
}

.data-value {
    width: 100%;
}

.progress-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(120, 25%, 94%);
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

.conversion-progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
}

.filename {
    white-space: nowrap;
    width: 100%;
    padding: 0.25rem;
}

#file-progress {
    width: 100%;
}

@media screen and (max-width: 46rem) {
    .main {
        flex-direction: column;
        align-items: stretch;
    }

    .data-container {
        margin-bottom: 0.5rem;
    }
}
