.outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 0.5rem;
    background-color: hsl(219, 79%, 98%);
    border: 0.25rem solid white;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: hsl(219, 79%, 96%);
    overflow-y: scroll;
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: hsl(219, 79%, 94%);
    margin: 0rem 0.25rem;
    padding: 0.25rem;
    overflow-y: scroll;
}

.file-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.data-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.data-key {
    width: 100%;
}

.data-value {
    width: 100%;
}

.progress-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0.25rem 0.25rem;
}

.filename {
    padding: 0.25rem;
}

.conversion-progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.25rem 0rem;
}

#file-progress {
    width: 100%;
}

@media screen and (max-width: 40rem) {
    .main {
        flex-direction: column;
    }

    .data-container {
        margin: 0.25rem 0rem;
    }
}
